<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>

<section class="admin-content-wrap">
    <div class="container">
        <div class="row">
            <%- include ../includes/editor.ejs %>
        </div>
    </div>
</section>

<%- include ../base/javascript.ejs %>
<script type="text/javascript" charset="utf-8" src="/javascripts/admin/topic.js"></script>
<%- include ../base/end.ejs %>