<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>

<section class="content-wrap">
    <div class="container" >
        <div class="row">
            <main class="col-md-8">
                <article id="<%= topic._id %>" class="post">
                    <header class="post-head">
                        <h1 class="post-title"><%= topic.title %></h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/"><%= topic.createdBy %></a></span> •
                            <time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="2016年7月26日星期二上午9点54分"><%= topic.createdAt %></time>
                        </section>
                    </header>
                    <section class="post-content">
                        <%- topic.html %>
                    </section>

                </article>
            </main>
            <aside class="col-md-4 sidebar">
                <!-- start tag cloud widget -->
                <%- include ../includes/sidebar.ejs %>
                <!-- end tag cloud widget -->
            </aside>

        </div>
    </div>
</section>

<%- include ../base/footer.ejs %>
<%- include ../base/javascript.ejs %>
<%- include ../base/end.ejs %>




