<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>

<section class="content-wrap">
    <div class="container" >
        <div class="row">
            <main class="col-md-8">
                <% for(var i = 0; i < topic.length; i++) { %>
                <article id="<%= topic[i].fid %>" class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="/topic/one/<%= topic[i]._id %>"><%= topic[i].title %></a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/about"><%= topic[i].createdBy %></a></span> •
                            <time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="2016年7月26日星期二上午9点54分"><%= topic[i].createdAt %></time>
                        </div>
                    </div>
                    <div class="post-content" id="markdownContent">
                        <%- topic[i].html %>
                    </div>
                    <div class="post-permalink text-right">
                        <a href="/topic/<%= topic[i]._id %>">阅读全文 »</a>
                    </div>
                </article>
                <% } %>
                <!--<nav class="pagination" role="navigation">-->
                    <!--<span class="page-number">第 1 页 ⁄ 共 8 页</span>-->
                    <!--<a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>-->
                <!--</nav>-->
            </main>
            <aside class="col-md-4 sidebar">
                <!-- start tag cloud widget -->
                <%- include ../includes/sidebar.ejs %>
                <!-- end tag cloud widget -->
            </aside>

        </div>
    </div>
</section>

<%- include ../base/footer.ejs %>
<%- include ../base/javascript.ejs %>
<%- include ../base/end.ejs %>




