<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>
<div class="container hk">

    <div class="col-lg-8">
        <div class="banner">
            <figure><img src="images/bg.jpg"></figure>
        </div>
        <div class="topnews">
            <h2>
                <b>文章</b>推荐
            </h2>
            <div class="blog" ng-repeat = "o in blogList track by $index">
                <figure><img ng-src="{{o.imgUrl[0]}}"></figure>
                <ul>
                    <h3><a ng-href="/#/blog/one/{{o._id}}">{{o.title}}</a></h3>
                    <p>{{o.title}}</p>
                    <p class="autor">
                        <span class="lm f_l"><a href="/">个人博客</a></span>
                        <span class="dtime f_l">{{o.createdAt}}</span>
                        <span class="viewnum f_r">浏览（<a href="/">{{o.readCount}}</a>）</span>
                        <!--<span class="pingl f_r">评论（<a href="/">30</a>）</span>-->
                    </p>
                </ul>
            </div>
            <div class="blog">
                <figure><img src="images/02.jpg"></figure>
                <ul>
                    <h3><a href="/">教你怎样用欠费手机拨打电话</a></h3>
                    <p>初次相识的喜悦，让你觉得似乎找到了知音。于是，对于投缘的人，开始了较频繁的交往。渐渐地，初识的喜悦退尽，接下来就是仅仅保持着联系，平淡到偶尔在节假曰发短信互致问候...</p>
                    <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                </ul>
            </div>
            <div class="blog">
                <figure><img src="images/03.jpg"></figure>
                <ul>
                    <h3><a href="/">原来以为，一个人的勇敢是，删掉他的手机号码...</a></h3>
                    <p>原来以为，一个人的勇敢是，删掉他的手机号码、QQ号码等等一切，努力和他保持距离。等着有一天，习惯不想念他，习惯他不在身边,习惯时间把他在我记忆里的身影磨蚀干净... </p>
                    <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tit01">
            <h2>关注我</h2>
            <div class="gzwm">
                <ul>
                    <li><a class="xlwb" href="#" target="_blank">github</a></li>
                    <li><a class="txwb" href="#" target="_blank">oschina</a></li>
                    <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
                    <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
                </ul>
            </div>
        </div>
        <!--tit01 end-->
        <figure> <img ng-src="images/ad300x100.jpg"> </figure>

        <div class="moreSelect" style="margin-top: 20px;">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">点击排行</a></li>
                <li role="presentation"><a href="#">最新文章</a></li>
                <li role="presentation"><a href="#">站长推荐</a></li>
            </ul>
            <div class="ms-main" id="ms-main">
                <div style="display: block;" class="bd bd-news" >
                    <ul>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                    </ul>
                </div>
                <div  class="bd bd-news">
                    <ul>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                        <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                        <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                        <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                        <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                    </ul>
                </div>
            </div>
            <!--ms-main end -->
        </div>
        <!--切换卡 moreSelect end -->
        <div class="cloud">
            <h3>标签云</h3>
            <ul>
                <li><a href="/">个人博客</a></li>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
                <li><a href="/">Javasript</a></li>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
            </ul>
        </div>
        <figure class="ad" style="margin-top:20px;"> <img src="images/03.jpg"> </figure>
        <div class="links">
            <h3><span>[<a href="/">申请友情链接</a>]</span>友情链接</h3>
            <ul>
                <li><a href="/">web开发</a></li>
                <li><a href="/">前端设计</a></li>
                <li><a href="/">Html</a></li>
                <li><a href="/">CSS3</a></li>
                <li><a href="/">Html5+css3</a></li>
                <li><a href="/">百度</a></li>
            </ul>
        </div>
    </div>
</div>



<%- include ../base/footer.ejs %>
<%- include ../base/javascript.ejs %>
<%- include ../base/end.ejs %>




