<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>
<!--header-->
<div class="blog-header">
    <header class="main-header" style="background-image: url(/images/background.jpg);">
        <!--<nav class="main-nav overlay clearfix">-->
        <!--<a class="blog-logo" href="http://www.wujianjin.com"><img src="/content/images/2016/02/xiaopangzi.jpg" alt="吴建金的博客"></a>-->
        <!--<a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>-->
        <!--</nav>-->
        <div class="vertical">
            <div class="main-header-content inner" >
                <h1 class="page-title">吴建金的博客</h1>
                <h2 class="page-description">现在的努力都是为了小时候吹的牛逼！</h2>
            </div>
        </div>
        <a id="scroll-hero" class="btn-dwn" href="#"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    </header>
</div>


<%- include ../base/javascript.ejs %>
<%- include ../base/footer.ejs %>



