<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>


<%- include ../base/javascript.ejs %>
<script type="text/javascript" charset="utf-8" src="/javascript/user/view.js"></script>
<%- include ../base/footer.ejs %>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
        <script src="/assets/js/jquery.min.js"></script>
        <!--<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
        <style type="text/css">
            .main-header {
                position: relative;
                display: table;
                width: 100%;
                height: 100vh;
                margin-bottom: 5rem;
                text-align: center;
                background: #222 no-repeat center center;
                background-size: cover;
                overflow: hidden;
            }
            .page-title {
                margin: 10px 0 10px 0;
                font-size: 5rem;
                letter-spacing: -1px;
                font-weight: 700;
                font-family: inherit;
                color: #fff;
            }
            .page-description {
                margin: 0;
                font-size: 2rem;
                line-height: 1.5em;
                font-weight: 400;
                letter-spacing: 0.01rem;
                color: rgba(255,255,255,0.8);
            }
            .btn-dwn {
                width: 58px;
                height: 58px;
                line-height: 58px;
                margin: 0 0 0 -29px;
                padding: 0;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                color: rgba(255,255,255,.8);
                background: rgba(0,0,0,.6);
                position: absolute;
                left: 50%;
                bottom: 60px;
                border: 0;
                animation:mymove 5s infinite;
                -webkit-animation:mymove 5s infinite; /* Safari 和 Chrome */
            }
            .vertical{
                display: table-cell;
                vertical-align: middle;
            }
        </style>
    </head>
    <body id="page-body">
        <!--header-->
        <div class="blog-header">
            <header class="main-header" style="background-image: url(/images/background.jpg);">
                <!--<nav class="main-nav overlay clearfix">-->
                    <!--<a class="blog-logo" href="http://www.wujianjin.com"><img src="/content/images/2016/02/xiaopangzi.jpg" alt="吴建金的博客"></a>-->
                    <!--<a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>-->
                <!--</nav>-->
                <div class="vertical">
                    <div class="main-header-content inner" >
                        <h1 class="page-title">吴建金的博客</h1>
                        <h2 class="page-description">现在的努力都是为了小时候吹的牛逼！</h2>
                    </div>
                </div>
                <a id="scroll-hero" class="btn-dwn" href="#"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            </header>
        </div>

    </body>
</html>
