<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<link href="/stylesheets/admin.css" rel="stylesheet"/>
<%- include ../base/container.ejs %>

<section class="admin-login-wrap">
    <div class="container">
        <div class="row text-center">
            <h2>后台登录</h2>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group form-group-lg">
                    <input id="userName" type="text" placeholder="用户名" class="form-control">
                </div>
                <div class="form-group form-group-lg">
                    <input id="pwd" type="password" placeholder="密码" class="form-control">
                </div>
                <button id="login" type="button" autocomplete="off" class="btn btn-success btn-lg btn-block">
                    <i class="glyphicon glyphicon-log-in"></i> 登 录
                </button>
            </div>
        </div>
    </div>
</section>

<%- include ../base/javascript.ejs %>
<script type="text/javascript" charset="utf-8" src="/javascripts/admin/login.js"></script>
<%- include ../base/end.ejs %>