<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>

<section class="content-wrap">
    <div class="container" >
        <div class="row">
            <main class="col-md-8">
                <article id="<%= blog._id %>" class="post">
                    <header class="post-head">
                        <h1 class="post-title"><%= blog.title %></h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/"><%= blog.createdBy %></a></span> •
                            <time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="2016年7月26日星期二上午9点54分"><%= blog.createdAt %></time>
                        </section>
                    </header>
                    <section class="post-content">
                        <%= blog.markdown %>
                    </section>

                </article>
            </main>
            <aside class="col-md-4 sidebar">
                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="tag-cloud">
                        <a href="/tag/jquery/">jQuery</a>
                        <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        <a href="/tag/opensource/">开源</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/tag-cloud/">标签云</a>
                        <a href="/tag/navigation/">导航</a>
                        <a href="/tag/customize-page/">自定义页面</a>
                        <a href="/tag/static-page/">静态页面</a>
                        <a href="/tag/roon-io/">Roon.io</a>
                        <a href="/tag/configuration/">配置文件</a>
                        <a href="/tag/upyun/">又拍云存储</a>
                        <a href="/tag/upload/">上传</a>
                        <a href="/tag/handlebars/">Handlebars</a>
                        <a href="/tag/email/">邮件</a>
                        <a href="/tag/shortcut/">快捷键</a>
                        <a href="/tag/yong-hu-zhi-nan/">用户指南</a>
                        <a href="/tag/theme-market/">主题市场</a>
                        <a href="/tag/release/">新版本发布</a>
                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <!-- end tag cloud widget -->
            </aside>

        </div>
    </div>
</section>

<%- include ../base/footer.ejs %>
<%- include ../base/javascript.ejs %>
<%- include ../base/end.ejs %>




