<%- include ../base/head.ejs %>
<%- include ../base/css.ejs %>
<%- include ../base/container.ejs %>

<section class="container" style="margin-top: 80px;">
    <div class="row">
            <main class="col-md-8">
                <article id="98" class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="/moving-to-node-js-v4-lts/">Node.js v4 LTS 成为 Ghost 推荐版本</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="2016年7月26日星期二上午9点54分">2016年7月26日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>从这周起，我们将 Ghost 推荐 Node.js 版本升级为 Node.js v4 LTS。 我们这样做其实已经落后于计划了。然而，经过大量测试之后，我们确信 Ghost 可以在 Node.js v4 平台上流畅的运行并且内存消耗比原来也减少了。目前，Ghost(Pro) 上托</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/moving-to-node-js-v4-lts/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="97" class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/">Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2016年4月28日星期四上午10点14分" title="2016年4月28日星期四上午10点14分">2016年4月28日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/"><img class="img-responsive" src="http://static.ghostchina.com/image/4/45/e447fa21190690b28f1957d5937f4.png" alt="Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客"></a>
                    </div>
                    <div class="post-content">
                        <p>虽然通过浏览器管理 Ghost 博客虽然很方便，但是在多个 tab 之间切换有时候也会很麻烦，嗯，如果能有一个独立的 app 应该使用起来会更爽一些！ 今天的主角来了，Ghost 桌面版 APP -- Ghost Desktop！ 目前，Ghost Desktop 还处于早期阶段</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="96" class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/install-nodejs-of-latest-version-in-ubuntu-and-debian/">为 Ubuntu 和 Debian 安装最新版本的 Node.js</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2016年3月23日星期三凌晨12点08分" title="2016年3月23日星期三凌晨12点08分">2016年3月23日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>运行 Ghost 必须要安装 Node.js。但是 Ubuntu 或 Debian 的软件仓库中的 Node.js 更新较慢，甚至只能等到新版本发布才能有最新的 Node.js 用。下面我们说一下从 NodeSource 提供的仓库中安装最新版本的 Node.js。 支持的操作系</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/install-nodejs-of-latest-version-in-ubuntu-and-debian/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="94" class="post tag-release tag-about-ghost">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-7-4-released/">Ghost 0.7.4 正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年12月29日星期二凌晨12点01分" title="2015年12月29日星期二凌晨12点01分">2015年12月29日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/ghost-0-7-4-released/"><img class="img-responsive" src="http://static.ghostchina.com/image/a/21/de1b2911072f5a4eff82abdb62632.png" alt="Ghost 0.7.4 正式发布"></a>
                    </div>
                    <div class="post-content">
                        <p>紧随 Ghost 官方脚步，Ghost 0.7.4 中文正式版发布了！这一版本包含了自 Ghost 0.7.3 版本发布以来所修正的 bug，主要是针对开放 API 功能的改进。 0.7.1、0.7.2、0.7.3 这些版本哪去了？ 从 Ghost 0.7.0 版本发布以来，Gh</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-7-4-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/release/">新版本发布</a>, <a href="/tag/about-ghost/">Ghost</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="92" class="post tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-7-0-released/">Ghost 0.7.0 正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年9月7日星期一凌晨4点31分" title="2015年9月7日星期一凌晨4点31分">2015年9月7日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.7.0 已经正式发布了！此版本主要对后台 UI 的重构，既包含重新设计，也包含底层功能的重大改进。0.7.0 还为即将到来的 API 做了很多铺垫工作。 Ghost 0.7.0 的主要改进 [新增] 设计新后台界面 [新增] 后台能够搜索博文和用户 [新增] 安</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-7-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>, <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="91" class="post tag-about-ghost tag-zhu-shou-han-shu tag-jquery">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/no-more-jquery-in-ghost_foot-helper-of-ghost-0-7/">Ghost 0.7 中 {{ghost_foot}} 助手函数将不再输出 jQuery</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年8月29日星期六下午3点17分" title="2015年8月29日星期六下午3点17分">2015年8月29日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>{{ghost_foot}} 助手函数将不再输出 jQuery 链接了。 从 Ghost 第一个版本开始， {{ghost_foot}} 助手函数默认都会输出一个 jQuery 文件链接，并且这个文件还是本地存储的。最开始 Ghost 团队觉得这是一件对所有主题开发者有意义</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/no-more-jquery-in-ghost_foot-helper-of-ghost-0-7/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/zhu-shou-han-shu/">助手函数</a>, <a href="/tag/jquery/">jQuery</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="89" class="post tag-about-ghost tag-ghost-0-7-ban-ben">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-7-going-to-be-released-lets-preview/">Ghost 0.7 即将发布，高清大图提前看</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年8月23日星期日晚上6点43分" title="2015年8月23日星期日晚上6点43分">2015年8月23日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 官方在 18 号的会议记录上透露了 Ghost 0.7 版本可能会在这个月底前发布，也就是说 Github 仓库里的代码不会有太大变化了。周末抽时间把 master 分支上的代码下载、编译、安装起来，截几张高清图，360 度无死角透视一下最新版的真面目吧！ 安装界面</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-7-going-to-be-released-lets-preview/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="88" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-7-preview/">Ghost 0.7 版本将会带来哪些惊喜</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年8月13日星期四晚上11点59分" title="2015年8月13日星期四晚上11点59分">2015年8月13日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>后台界面 首当其冲的就是后台 UI 的改变。 从 Ghost 0.3.0 第一个公开发布的版本至今，Ghost 的后台 UI 一直都很简洁，顶部是一个黑底的导航条，三四个菜单项，底部是标签输入框，中间全是内容区域。如下图： 但是随着 Ghost 功能越来越完善，越来越多，好多东西</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-7-preview/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="85" class="post tag-about-ghost tag-release featured">
                    <div class="featured" title="推荐文章">
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-6-3-released/">Ghost 0.6.3 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年5月18日星期一凌晨3点30分" title="2015年5月18日星期一凌晨3点30分">2015年5月18日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.3 版本已经正式发布了！此版本主要修复了一些 bug 并包含了几个新特性，例如：博文预览。 Ghost 0.6.3 的主要变化 [新增] 博文预览 [新增] 带密码保护的私密博客 [新增] 为作者自定义页面模板 [增强] 登陆状态延长至 7 天 [修复] 编辑</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-3-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id="83" class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-6-2-released/">Ghost 0.6.2 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2015年4月26日星期日晚上11点43分" title="2015年4月26日星期日晚上11点43分">2015年4月26日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.2 主要是对 0.6.x 版本发布以来进行的 bug 修复。是否会问 0.6.1 版本去哪儿了？其实又被乌龙了，刚发布就发现有重大 bug，所以 0.6.2 成了救火的版本了。。。 主要变化 [修复] 在 Ghost 后台，作者（author）无法访问自己的信</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-6-2-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>


                <nav class="pagination" role="navigation">
                    <span class="page-number">第 1 页 ⁄ 共 8 页</span>
                    <a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                </nav>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ群：277327792</p>
                        <p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
                        <p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">下载 Ghost</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.7.4）</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/jquery/">jQuery</a>
                        <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        <a href="/tag/opensource/">开源</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/tag-cloud/">标签云</a>
                        <a href="/tag/navigation/">导航</a>
                        <a href="/tag/customize-page/">自定义页面</a>
                        <a href="/tag/static-page/">静态页面</a>
                        <a href="/tag/roon-io/">Roon.io</a>
                        <a href="/tag/configuration/">配置文件</a>
                        <a href="/tag/upyun/">又拍云存储</a>
                        <a href="/tag/upload/">上传</a>
                        <a href="/tag/handlebars/">Handlebars</a>
                        <a href="/tag/email/">邮件</a>
                        <a href="/tag/shortcut/">快捷键</a>
                        <a href="/tag/yong-hu-zhi-nan/">用户指南</a>
                        <a href="/tag/theme-market/">主题市场</a>
                        <a href="/tag/release/">新版本发布</a>


                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->                </aside>

    </div>
</section>

<div class="container hk_container">
    <div class="row">
        <div class="col-md-8">
            <div class="topnews">
                <h2>
                    <b>文章</b>推荐
                </h2>
                <div class="blog">
                    <figure><img class="img-responsive" src="images/02.jpg"></figure>
                    <ul>
                        <h3><a href="/">教你怎样用欠费手机拨打电话</a></h3>
                        <p>初次相识的喜悦，让你觉得似乎找到了知音。于是，对于投缘的人，开始了较频繁的交往。渐渐地，初识的喜悦退尽，接下来就是仅仅保持着联系，平淡到偶尔在节假曰发短信互致问候...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blog">
                    <figure><img src="images/03.jpg"></figure>
                    <ul>
                        <h3><a href="/">原来以为，一个人的勇敢是，删掉他的手机号码...</a></h3>
                        <p>原来以为，一个人的勇敢是，删掉他的手机号码、QQ号码等等一切，努力和他保持距离。等着有一天，习惯不想念他，习惯他不在身边,习惯时间把他在我记忆里的身影磨蚀干净... </p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tit01">
                <h2>关注我</h2>
                <div class="gzwm">
                    <ul>
                        <li><a class="xlwb" href="#" target="_blank">github</a></li>
                        <li><a class="txwb" href="#" target="_blank">oschina</a></li>
                        <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
                        <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
                    </ul>
                </div>
            </div>
            <!--tit01 end-->
            <figure> <img ng-src="images/ad300x100.jpg"> </figure>

            <div class="moreSelect" style="margin-top: 20px;">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">点击排行</a></li>
                    <li role="presentation"><a href="#">最新文章</a></li>
                    <li role="presentation"><a href="#">站长推荐</a></li>
                </ul>
                <div class="ms-main" id="ms-main">
                    <div style="display: block;" class="bd bd-news" >
                        <ul>
                            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        </ul>
                    </div>
                    <div  class="bd bd-news">
                        <ul>
                            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        </ul>
                    </div>
                    <div class="bd bd-news">
                        <ul>
                            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                        </ul>
                    </div>
                </div>
                <!--ms-main end -->
            </div>
            <!--切换卡 moreSelect end -->
            <div class="cloud">
                <h3>标签云</h3>
                <ul>
                    <li><a href="/">个人博客</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                    <li><a href="/">Javasript</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                </ul>
            </div>
            <figure class="ad" style="margin-top:20px;"> <img src="images/03.jpg"> </figure>
            <div class="links">
                <h3><span>[<a href="/">申请友情链接</a>]</span>友情链接</h3>
                <ul>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<%- include ../base/footer.ejs %>
<%- include ../base/javascript.ejs %>
<%- include ../base/end.ejs %>




